.App {
  text-align: center;
}

.board-container{
  margin: 0 auto;
  width: 80%;
  border: 1px solid #333;
  padding: 0px 0 30px 0;
  border-radius: 5px;
  margin-bottom: 50px;
}

.sub-board-container{
  border-bottom : 2px solid #ff0;
  padding-bottom: 10px;
  
}

.from-wrapper{
  width: 60%;
  margin: 0 auto;
}

.title-input{
  width: 500px;
  height: 40px;
  margin: 10px;
}

.content-input{
  height: 100px;
  width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.submit-button{
  width: 200px;
  height: 50px;
  font-size: 20px;
  padding: 20px;
  border: none;
  background: indianred;
  border-radius: 5px;
  margin-top: 40px;
  vertical-align: middle;
}

.header{
  text-align: center;
  text-decoration-color: plum;
}

.index-button{
  width: 140px;
  height: 50px;
  font-size: 20px;
  color: aliceblue;
  padding: 5px;
  border: none;
  background-color: purple;
  border-radius: 10px;
  margin: 20px 5px 50px 0px;
  vertical-align: middle;
}
